<<<<<<< HEAD

$color-text-common: rgb(38, 38, 38);
$color-text-gray: #999;
$color-border: rgba(0,0,0,.0975);
$color-tag: #44709c;
=======
$color-text-common: rgb(38, 38, 38);
$color-text-gray: #999;
$color-tag: #44709c;
$color-border: rgba(0,0,0,.0975);
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
