@import 'variables';

$screen-tablet: 700px;
$header-height: 83px;
header.top-header {
  background-color: #fff;
  border-bottom: 1px solid $color-border;
}
<<<<<<< HEAD
header > .post-header-left{
  a.follow {
    float: right;
    color: white;
    font-weight: bold;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 2px;
    padding: 3px 8px;
    line-height: 18px;
  }
}
=======
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
header.top-header > nav:nth-child(1) {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 10px;
<<<<<<< HEAD

  height: $header-height;
  // 각 div내의 a요소들은 height와 line-height를
  // 같은 값으로 가져 수직중앙정렬되도록 함
  // img요소는 vertical-align에 middle속성으로 수직중앙정렬
  .nav-item {
    height: $header-height;
=======
  
  height: $header-height;
  // 각 div내의 a요소들은 height와 line-height를 
  // 같은 값으로 가져 수직중앙정렬되도록 함
  // img요소는 vertical-align에 middle속성으로 수직중앙정렬
  .nav-item { 
    height: $header-height; 
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
    line-height: $header-height;
  }
  .nav-item > a {
    height: $header-height;
    line-height: $header-height;
    display: inline-block;
<<<<<<< HEAD

=======
    
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
    > img {
      vertical-align: middle;
    }
  }
  .nav-left {
    float: left;
    margin-right: 20px;
    width: 182px;
  }
  .nav-center {
    width: 147px;
    float: left;
  }
  @media screen and (max-width: $screen-tablet) {
    .nav-center {
      display: none;
    }
  }
  .nav-right {
    width: 150px;
    float: right;
    a {
      padding: 0 10px;
    }
  }
}
header.top-header > nav:nth-child(2) {
  border-top: 1px solid $color-border;
  padding: 8px 0;
  text-align: right;
<<<<<<< HEAD

  .post-create {
    float: left;

  }
  > div.login {
=======
  
  > div {
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
    max-width: 1010px;
    margin: 0 auto;
  }
}

form.form-inline-login {
  font-size: 11px;
<<<<<<< HEAD

=======
  
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
  label {
    margin-right: 5px;
  }
  input {
<<<<<<< HEAD
    padding: 5px 8px;
=======
    padding: 5px 8px;  
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
    font-size: 11px;
    margin-right: 6px;
  }
}
.message {
  position: fixed;
  width: 50%;
  right: 3%;
  top: 3%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  text-align: center;
}
.container {
  max-width: 1010px;
  margin: 0 auto;
  padding-top: 40px;
  @media screen and (max-width: $screen-tablet) {
    padding-top: 0;
  }
}
.container > .content {
  padding: 10px;
}
<<<<<<< HEAD
.pagination {
  text-align: center;
  margin-bottom: 30px;

  a {
    font-size: 13px;
  }
}
=======
>>>>>>> e5278c3fc0369ff8fa911dace01b1d0a28cb1c8d
