@import 'variables';
div.profile-image {
  // float: left;
  width: calc(100%/3 - 20px);
  padding: 10px;

  img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
  }
}
p.username {
  // float: left;
  font-size: 40px;
}
a.edit-profile {
  float: right;
}
ul.profile-photo-list {
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
}

ul.profile-photo-list li {
  display: inline-block;
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
}

ul.profile-photo-list li img {
  width: 100%;
}
