{% extends 'common/base.html' %}

{% block content %}
<div class="content">
    <h3>Youtube Search</h3>
    <form action="">
        <input type="text" name="q" placeholder="Youtube에서 검색할 키워들르 입력해주세요">
    </form>
    <div>
        <ul>
            {% for item in videos %}
            <li>
                <!--<img src="{{ video.thumbnail }}" alt="">-->
                <a href="https://www.youtube.com/watch?v={{ item.youtube_id }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}